@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,400;1,200&family=Roboto:wght@300;400;700&display=swap');

* {
  padding: 0;
  margin: 0;
}

nav {
  position: absolute;
  width: 375px;
  height: 92px;
  left: 0;
  right: 0;
  top: 44px;
  bottom: 0;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  list-style: none;
  padding: 10px 12px;

}

a {
    list-style: none;
    text-decoration: none;
}

.welcome {
    
width: 90px;
height: 28px;

/* Theme 2 / Subhead 1 */

font-family: 'Inter';
font-style: normal;
font-weight: 600;
font-size: 20px;
line-height: 28px;
/* identical to box height, or 140% */

display: flex;
align-items: center;
text-align: center;

/* Theme 2 / Neutral 1 */

color: #28352F;


/* Inside auto layout */

flex: none;
order: 0;
flex-grow: 0;
}

.headline{
display: flex;
flex-direction: column;
align-items: center;
padding: 64px 24px;
gap: 58px;
background-image: url(/images/header-illsutration-mobile.png);
background-repeat: no-repeat;
position: absolute;
width: 375px;
height: 726px;
left: 0px;
top: 92px;

}
h1{
width: 327px;
height: 192px;

/* Theme 2 / H2 */

font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 40px;
line-height: 52px;
/* or 130% */

text-align: center;

/* Neutrals/N800 */

color: #172B4D;


/* Inside auto layout */

flex: none;
order: 0;
flex-grow: 0;
}
#green{
    color: green;
}
.text{
width: 327px;
height: 164px;

/* Theme 2 / Body Reguler 1 */

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 28px;
/* or 140% */

text-align: center;

/* Neutrals/N800 */

color: #172B4D;


/* Inside auto layout */

flex: none;
order: 1;
flex-grow: 0;
}
.socialmedia-icons {
    width: 170.17px;
    height: 20px;
    justify-content: space-between;
    display: inline;
    
    /* Inside auto layout */
    
    flex: none;
    order: 2;
    flex-grow: 0;
  }

  .socialmedia-icons li{
  flex-direction: column;
  justify-content: space-between;
  display: inline-flex;
  padding: 6px;
  }
  