*{
    margin: 0;
    padding: 0;
}

.popup-container{
position: absolute;
left: 0px;
right: 0px;
top: 0px;
bottom: 86px;
}

.snapshot {
position: absolute;
width: 872px;
/* height: 616px; */
left: 24px;
top: 78px;
border: 1px solid #DFE1E6;
border-radius: 8px;
background-image: url(/images/Snapshoot\ Portfolio.png);
background-repeat: no-repeat;
}

.popup-title{
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 0px;
gap: 12px;

position: absolute;
min-width: 869px;
min-height: 82px;
left: 26px;
top: 718px;

}

h2 {
width: 589px;
height: 82px;

font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 32px;
line-height: 44px;
/* or 138% */


/* Neutrals/N800 */

color: #172B4D;


/* Inside auto layout */

flex: none;
order: 0;
flex-grow: 0;
}

button{
    background-color: #36B37E;
    border-style: none;
    width: 115px;
    height: 48px;
   

}

.btn-pop {
    display: flex;
flex-direction: row;
align-items: flex-start;
padding: 0px;
gap: 12px;


justify-content: space-between;



}

.btn-pop li {
    list-style: none;
    
background: #36B37E;


    
}
.btn-pop li a{
    list-style: none;
    text-decoration: none;
    color: #FFFFFF;
    border-radius: 8px;
    
}
.pop-tag{
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 0px;
gap: 12px;

position: absolute;
width: 500px;
height: 32px;
left: 24px;
top: 820px;
}
.pop-tag li {
    display: flex;
flex-direction: row;
align-items: center;
padding: 8px 12px;

width: 72px;
height: 25px;

/* Neutrals/N30 */

background: #EBECF0;
border-radius: 8px;

/* Inside auto layout */

flex: none;
order: 0;
flex-grow: 0;
}
.pop-tag li a{
width: 60px;
height: 16px;

font-family: 'Inter';
font-style: normal;
font-weight: 600;
font-size: 12px;
line-height: 16px;
/* identical to box height, or 133% */

letter-spacing: 0.03em;

color: #344563;
text-decoration: none;
}

.popup-text {
    display: flex;
flex-direction: column;
align-items: center;
padding: 0px;
gap: 12px;

position: absolute;
width: 876px;
height: 151px;
left: 24px;
top: 888px;
font-family: 'Inter',sans-serif;
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 30px;
color: #344563;
}

@media screen and (max-width: 768px){
    .snapshot{
width: 311px;
height: 220px;

background: url(/images/Snapshoot\ Portfolio\ \(4\).png);
background-repeat: no-repeat;
border-radius: 8px;
    }
   h2{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 12px;
    
    width: 259px;
    height: 130px;
    
    
    /* Inside auto layout */
    
    flex: none;
    order: 0;
    flex-grow: 0;
    }
.popup-title{
    display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 12px;

width: 259px;
height: 179px;


/* Inside auto layout */

flex: none;
order: 1;
flex-grow: 0;
}
.popup-text{
    display: flex;
flex-direction: column;
align-items: center;
padding: 0px;
gap: 12px;

width: 311px;
height: 313px;


/* Inside auto layout */

flex: none;
order: 2;
flex-grow: 0;
}
.pop-tag {
display: flex;
flex-direction: row;
align-items: center;
padding: 0px;
gap: 8px;

width: 246px;
height: 32px;


/* Inside auto layout */

flex: none;
order: 1;
flex-grow: 0;
}
.pop-tag .mobile-tag{
    display: none;
}
.popup-container {
    display: flex;
flex-direction: column;
align-items: flex-start;
padding: 16px;
gap: 12px;

position: absolute;
width: 343px;
height: 836px;
left: calc(50% - 343px/2);
top: 20px;

/* Neutrals/N0 */

background: #FFFFFF;
/* Neutrals/N40 */

border: 1px solid #DFE1E6;
border-radius: 16px;
}
.btn-pop{
    flex: none;
order: 4;
flex-grow: 0;
}
}