@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;700;900&family=Poppins:ital,wght@0,100;0,300;0,400;0,700;1,100;1,400&display=swap");

* {
  padding: 0;
  margin: 0;
}

.main-container {
  position: relative;
  min-width: 375px;
  height: 6680px;
  background: #fff;
  overflow: hidden;
}

nav {
  position: absolute;
  width: 375px;
  left: 0;
  right: 0;
  top: 44px;
  bottom: 0;
  justify-content: space-between;
  display: flex;
}

a {
  list-style: none;
  text-decoration: none;
  color: #3a4a42;
}

#menu {
  cursor: pointer;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 8px;
  width: 40px;
  height: 40px;
  right: 24px;
  top: calc(50% - 40px / 2);
  border-radius: 8px;
  order: 0;
  flex-grow: 0;
}

.welcome {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px 12px;
  left: 12px;
  top: calc(50% - 48px / 2);
  width: 114px;
  height: 28px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 28px;
  text-align: center;
  color: #28352f;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.headline {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 64px 24px;
  gap: 58px;
  background-image: url(/images/header-illsutration-mobile.png);
  background-repeat: no-repeat;
  position: absolute;
  min-height: 726px;
  left: 0;
  top: 92px;
}

h1 {
  width: 327px;
  height: 192px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  text-align: center;
  color: #172b4d;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin-left: -24px;
}

#green {
  color: #36b37e;
}

.text {
  width: 327px;
  height: 164px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  text-align: center;
  color: #172b4d;
  margin-left: -24px;
  flex: none;
  order: 1;
  flex-grow: 0;
}

.socialmedia-icons {
  width: 170.17px;
  height: 20px;
  justify-content: space-between;
  display: inline;
  flex: none;
  order: 2;
  flex-grow: 0;
}

.socialmedia-icons li {
  flex-direction: column;
  justify-content: space-between;
  display: inline-flex;
  padding: 6px;
}

.recent-works {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 64px 24px;
  gap: 58px;
  position: absolute;
  height: 3283px;
  left: 0;
  top: 708px;
}

.action {
  min-width: 327px;
  height: 48px;
  flex: none;
  order: 3;
  flex-grow: 0;
}

#text2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
  gap: 24px;
  min-width: 327px;
  height: 97px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  text-align: center;
  color: #172b4d;
  flex: none;
  order: 0;
  flex-grow: 0;
}

#indicator {
  width: 48px;
  height: 4px;
  margin: -30px;
  background: #36b37e;
  border-radius: 24px;
  flex: none;
  order: 1;
  flex-grow: 0;
}

.card-work-row {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 4px 2px;
  gap: 24px;
  width: 331px;
  height: 2972px;
  flex: none;
  order: 1;
  flex-grow: 0;
}

.card {
  min-width: 327px;
  min-height: 474px;
  background: #ebf0ee;
  border: 1px solid #d0d9d4;
  border-radius: 8px;
}

.card-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 16px;
  gap: 16px;
  margin-top: 230px;
  margin-left: -2px;
  min-width: 296px;
  min-height: 222px;
  left: calc(50% - 296px / 2);
  bottom: 0;
  border: 1px solid #d0d9d4;
  background: #fff;
  border-radius: 8px;
}

.card-title {
  width: 295px;
  height: 57px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #3a4a42;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.tags {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0;
  gap: 8px;
  min-width: 305px;
  min-height: 32px;
  flex: none;
  order: 1;
  flex-grow: 0;
}

.ruby {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 8px 12px;
  background: #ebf0ee;
  border-radius: 4px;
  flex: none;
  order: 0;
  flex-grow: 0;
  width: 80px;
  height: 16px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.03em;
  color: #3a4a42;
}

.css {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 8px 12px;
  background: #ebf0ee;
  border-radius: 4px;
  flex: none;
  order: 1;
  flex-grow: 0;
  width: 21px;
  height: 16px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.03em;
  color: #3a4a42;
}

.javscript {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 8px 12px;
  background: #ebf0ee;
  border-radius: 4px;
  flex: none;
  order: 2;
  flex-grow: 0;
  width: 58px;
  height: 16px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.03em;
  color: #3a4a42;
}

.html {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 8px 12px;
  background: #ebf0ee;
  border-radius: 4px;
  flex: none;
  order: 3;
  flex-grow: 0;
  width: 27px;
  height: 16px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.03em;
  color: #3a4a42;
}

button {
  flex: none;
  order: 2;
  flex-grow: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 12px;
  gap: 10px;
  margin-top: 35px;
  width: 128px;
  height: 48px;
  left: calc(50% - 122px / 2 + 0.5px);
  background: #36b37f;
  border-radius: 4px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.03em;
  cursor: pointer;
  color: #fff;
  border-style: none;
}

button:hover {
  background-color: #3a4a42;
  color: #36b37e;
}

button:active {
  background: #0a2759;
  color: #fff;
}

.about-me {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 64px 24px;
  gap: 58px;
  margin-top: 120px;
  position: absolute;
  height: 1625px;
  left: 0;
  top: 3927px;
  background-image: url(/images/illustration-\ about\ me.png);
  background-repeat: no-repeat;
}

.about-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
  gap: 24px;
  min-width: 351px;
  height: 333px;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.P-text {
  width: 351px;
  height: 48px;
  margin-left: 190px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #172b4d;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.S-text {
  width: 351px;
  height: 189px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
  text-align: center;
  color: #42526e;
  flex: none;
  order: 1;
  flex-grow: 0;
}

#resume-button {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 12px;
  gap: 10px;
  width: 159px;
  height: 48px;
  background: #36b37f;
  border-radius: 4px;
  flex: none;
  order: 2;
  flex-grow: 0;
}

#resume-button:hover {
  background-color: #3a4a42;
  color: #36b37e;
}

.about-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1px;
  gap: 24px;
  min-width: 327px;
  min-height: 1106px;
  flex: none;
  order: 1;
  flex-grow: 0;
}

.card-works {
  min-width: 327px;
  min-height: 352px;
  box-sizing: border-box;
  background: #ebf0ee;
  border: 1px solid #c1c7d0;
  border-radius: 8px;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.languages {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  text-align: center;
  color: #344563;
}

.card-tag {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 8px;
  margin: 20px 18px 0 18px;
  list-style-type: none;
  flex-wrap: wrap;
}

.card-tag li {
  padding: 12px;
  border-radius: 8px;
  color: #36b37e;
  background: #fff;
}

.card-tag li a {
  color: #36b37e;
}

#icon-2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0;
  gap: 8px;
  top: 656px;
  width: 271px;
  height: 40px;
  list-style-type: none;
}

#icon1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0;
  gap: 8px;
  top: 656px;
  width: 140px;
  height: 140px;
  margin-top: 20px;
  margin-left: 100px;
  list-style-type: none;
}

.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 64px 24px;
  gap: 58px;
  background-image: url(/images/form.png);
  background-repeat: no-repeat;
  background-position-y: bottom;
  background-position-x: right;
  position: absolute;
  height: 879px;
  left: 0;
  top: 5483px;
}

.form-text {
  width: 327px;
  height: 363px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  text-align: center;
  color: #172b4d;
  flex: none;
  order: 0;
  flex-grow: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
  gap: 24px;
  margin-top: 128px;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
  gap: 24px;
  min-width: 327px;
  height: 330px;
  flex: none;
  order: 1;
  flex-grow: 0;
  justify-content: center;
  margin-top: 90px;
}

.text-form {
  min-width: 327px;
  height: 48px;
  flex: none;
  order: 0;
  flex-grow: 0;
  left: 16px;
  right: 16px;
  top: calc(50% - 18px / 2);
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  display: flex;
  align-items: center;
  color: #6b778c;
  box-sizing: border-box;
  bottom: 0;
  background: #fff;
  border: 1px solid #d0d9d4;
  border-radius: 4px;
}

.new-text {
  min-width: 327px;
  height: 48px;
  flex: none;
  order: 0;
  flex-grow: 0;
  left: 16px;
  right: 16px;
  top: calc(50% - 18px / 2);
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  display: flex;
  align-items: center;
  color: #6b778c;
  box-sizing: border-box;
  bottom: 0;
  background: #fff;
  border: 1px solid #d0d9d4;
  border-radius: 4px;
}

.email {
  width: 327px;
  height: 48px;
  flex: none;
  order: 1;
  flex-grow: 0;
  left: 16px;
  right: 16px;
  top: calc(50% - 18px / 2);
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  display: flex;
  align-items: center;
  color: #6b778c;
  box-sizing: border-box;
  bottom: 0;
  background: #fff;
  border: 1px solid #d0d9d4;
  border-radius: 4px;
}

.textarea {
  width: 327px;
  height: 114px;
  flex: none;
  order: 2;
  flex-grow: 0;
  box-sizing: border-box;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: #fff;
  border: 1px solid #60c095;
  border-radius: 4px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #091e42;
}

.form-container-button {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 12px;
  gap: 10px;
  margin-left: 90px;
  width: 135px;
  height: 48px;
  background: #36b37f;
  border-radius: 4px;
  flex: none;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #fff;
}

.footer-text {
  width: 375px;
  height: 189px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
  text-align: center;
  color: #42526e;
  margin-top: -10px;
  border-radius: nullpx;
}

.form-social {
  width: 170.17px;
  height: 20px;
  justify-content: space-between;
  display: inline;
  flex: none;
  order: 2;
  flex-grow: 0;
  margin-left: 70px;
}

.form-social li {
  flex-direction: column;
  justify-content: space-between;
  display: inline-flex;
  padding: 6px;
  margin-top: 50px;
}

.nav-links ul li {
  list-style: none;
  display: inline;
  padding: 8px 12px;
  position: relative;
  justify-content: space-between;
  text-decoration: none;
  min-width: 375px;
}

@media screen and (min-width: 1500px) {
  .main-container {
    margin: auto;
    width: 97%;
  }

  .nav-links ul li {
    display: inline;
    flex-direction: row;
    justify-content: center;
    left: 200%;
  }

  #menu {
    display: none;
  }

  .welcome {
    display: none;
  }

  h1 {
    flex-direction: row;
    width: 1360px;
    height: 114px;
    font-weight: 800;
    font-size: 48px;
    line-height: 60px;
    text-align: center;
    letter-spacing: 0.37px;
  }

  .text {
    flex-direction: row;
    width: 920px;
    height: 96px;
    font-size: 20px;
    font-weight: 400;
    line-height: 35px;
    line-height: 32px;
    text-align: center;
  }

  .S-text {
    flex-direction: row;
    width: 920px;
    height: 96px;
    font-size: 20px;
    font-weight: 400;
    line-height: 35px;
    line-height: 32px;
    text-align: center;
  }

  .socialmedia-icons {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0;
    margin-top: 50px;
    width: 200px;
    height: 40px;
  }

  #action {
    display: none;
  }

  #indicator {
    display: none;
  }

  .recent-works {
    margin-top: 180px;
  }

  .card-work-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 4px 8px;
    gap: 22px;
    width: 1371px;
    height: 450px;
    flex-grow: 0;
    order: 1;
    flex-wrap: wrap;
    padding-left: 20%;
  }

  .about-me {
    flex-direction: column;
    width: 1171px;
    height: 808px;
    left: 135px;
    top: 2031px;
  }

  .about-card {
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: -280px;
  }

  .card-works {
    width: 369px;
  }

  .form-container {
    display: flex;
    flex-direction: row;
    width: 1171px;
    height: 490px;
    left: 135px;
    top: 3139px;
    padding: 80px 0;
    margin-top: -150px;
    margin-left: -30px;
    background-image: url(/images/Frame@2x.png), url(/images/illustration-2-contact-form-desktop@2x.png), url(/images/Frame@3x.jpg);
    background-repeat: no-repeat;
    background-position-x: left, center, right;
    background-position-y: bottom, center, bottom;
    background-size: 7%;
  }

  .form-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0%;
    min-width: 463px;
    height: 256px;
    padding-left: 5%;
    gap: 24px;
    width: 463px;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 52px;
    color: #172b4d;
  }

  .form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0%;
    width: 684px;
    height: 330px;
    margin-top: 380px;
    margin-left: -40px;
  }

  .form-social {
    margin-left: -15px;
    margin-top: 30px;
  }

  .headline {
    background-image: url(images/pictureproject.png);
    background-repeat: no-repeat;
    background-size: cover;
  }

  .footer-text {
    display: none;
  }

  .new-text {
    display: none;
  }

  .text-form {
    display: flex;
    flex-direction: row;
    margin-top: -450px;
  }

  .last-name {
    min-width: 360px;
    height: 48px;
    flex: none;
    order: 0;
    flex-grow: 0;
    left: 16px;
    right: 16px;
    top: calc(50% - 18px / 2);
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    display: flex;
    align-items: center;
    color: #6b778c;
    box-sizing: border-box;
    bottom: 0;
    background: #fff;
    border: 1px solid #d0d9d4;
    border-radius: 4px;
    margin-top: -450px;
  }

  .email {
    height: 48px;
    left: 0;
    right: 0;
    top: calc(50% - 48px / 2);
    width: 684px;
    order: 1;
  }

  .textarea {
    box-sizing: border-box;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: #fff;
    border: 1px solid #60c095;
    border-radius: 4px;
    width: 684px;
    height: 114px;
    flex: none;
    order: 2;
    flex-grow: 0;
  }

  .form-container-button {
    margin-left: -3px;
  }
}

@media screen and (max-width: 1500px) {
  .nav-links ul li {
    display: none;
  }

  #menu {
    display: block;
  }

  .about {
    display: block;
    margin-left: -100px;
  }

  .last-name {
    display: none;
  }

  .about-card {
    width: 327px;
    height: 1106px;
  }

  .form-table {
    display: none;
  }

  .text-form {
    display: flex;
  }
}
