@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;700;900&family=Poppins:ital,wght@0,100;0,300;0,400;0,700;1,100;1,400&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #fff;
  
}

nav {
  
  min-width: 375px;
  left: 0;
  right: 0;
  top: 44px;
  bottom: 0;
  justify-content: space-between;
  display: flex;
}

a {
  list-style: none;
  text-decoration: none;
  color: #3a4a42;
}

.welcome {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px 12px;
  left: 12px;
  top: calc(50% - 48px / 2);
  width: 114px;
  height: 28px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 28px;
  text-align: center;
  color: #28352f;
 
}

.headline {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 64px 24px;
  gap: 58px;
  background-image: url(/images/header-illsutration-mobile.png);
  background-repeat: no-repeat;
 
  min-height: 726px;
  left: 0;
  top: 92px;
}

h1 {
  width: 327px;
  height: 192px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  text-align: center;
  color: #172b4d;
 
  margin-left: -24px;
}

#green {
  color: #36b37e;
}

.text {
  width: 327px;
  height: 164px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  text-align: center;
  color: #172b4d;
  margin-left: -24px;
 
  transition: all 0.8s;
  animation-duration: 2s;
  animation-name: text-slide;
}

@keyframes text-slide {
  from {
    margin-left: 100%;
    width: 300%;
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}

.socialmedia-icons li {
  flex-direction: column;
  justify-content: space-between;
  display: inline-flex;
  padding: 6px;
}

.card-tag li {
  padding: 12px;
  border-radius: 8px;
  color: #36b37e;
  background: #fff;
}

.form-social li {
  flex-direction: column;
  justify-content: space-between;
  display: inline-flex;
  padding: 6px;
  margin-top: 50px;
}

.nav-links {
  flex: 1;
  text-align: center;
}

.nav-links ul li {
  list-style: none;
  display: inline;
  padding: 8px 12px;
 
  justify-content: space-between;
  text-decoration: none;
}

.socialmedia-icons li:hover {
  transform: scaleX(0.9) rotate(360deg);
  background-color: #36b37e;
  transition: 0.4s;
}

.form-social li:hover {
  transform: scaleX(0.9) rotate(360deg);
  background-color: #36b37e;
  transition: 0.4s;
}

.socialmedia-icons {
  width: 170.17px;
  height: 20px;
  justify-content: space-between;
  display: inline;
 
}

.recent-works {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 64px 24px;
  gap: 58px;

  left: 0;
  top: 708px;
}

.action {
  min-width: 327px;
  height: 48px;
  
}

#text2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
  gap: 24px;
  min-width: 327px;
  height: 97px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  text-align: center;
  color: #172b4d;

}

#indicator {
  width: 48px;
  height: 4px;
  margin: -30px;
  background: #36b37e;
  border-radius: 24px;
  
}

.card-work-row {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 4px 2px;
  gap: 24px;
  justify-content: center;
  text-align: center;

  
}

.card {
 
  background: #ebf0ee;
  border: 1px solid #d0d9d4;
  border-radius: 8px;
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 16px;
  gap: 16px;
  margin-top: 230px;
  margin-left: -2px;
 
  border: 1px solid #d0d9d4;
  background: #fff;
  border-radius: 8px;
  justify-content: center;
}

.card-title {
  width: 295px;
  height: 57px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #3a4a42;

}

.tags {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0;
  gap: 8px;
  
  margin-left: 10%;

}

.ruby {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 8px 12px;
  background: #ebf0ee;
  border-radius: 4px;

  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.03em;
  color: #3a4a42;
}

.css {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 8px 12px;
  background: #ebf0ee;
  border-radius: 4px;

  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.03em;
  color: #3a4a42;
}

.javscript {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 8px 12px;
  background: #ebf0ee;
  border-radius: 4px;

  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.03em;
  color: #3a4a42;
}

.html {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding:  12px;
  background: #ebf0ee;
  border-radius: 4px;

  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.03em;
  color: #3a4a42;
}

button {
  
  margin-top: 35px;
 padding: 12px;
  
  bottom: 0;
  background: #36b37f;
  border-radius: 4px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.03em;
  cursor: pointer;
  color: #fff;
  border-style: none;
  transition: all 0.8s;
}

button:hover {
  background-color: #3a4a42;
  color: #36b37e;
  transform: rotate(360deg);
}

button:active {
  background: #0a2759;
  color: #fff;
}

.about-me {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 64px 24px;
  gap: 58px;
  
  background-image: url(/images/illustration-\ about\ me.png);
  background-repeat: no-repeat;
}

.about-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
  gap: 24px;
  min-width: 351px;
  height: 333px;

}

.P-text {
  width: 351px;
  height: 48px;
  margin-left: 190px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #172b4d;
 
}

.S-text {
  width: 351px;
  height: 189px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
  text-align: center;
  color: #42526e;

}

#resume-button {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 12px;
  gap: 10px;
  width: 159px;
  height: 48px;
  background: #36b37f;
  border-radius: 4px;
  flex: none;
  
  flex-grow: 0;
}

#resume-button:hover {
  background-color: #3a4a42;
  color: #36b37e;
}

.about-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1px;
  gap: 24px;
 
 
}

.card-works {
  width: 327px;
  height: 352px;
  box-sizing: border-box;
  background: #ebf0ee;
  border: 1px solid #c1c7d0;
  border-radius: 8px;

}

.languages {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  text-align: center;
  color: #344563;
}

.card-tag {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 8px;
  margin: 20px 18px 0 18px;
  list-style-type: none;
  flex-wrap: wrap;
}

.card-tag li a {
  color: #36b37e;
}

#icon-2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0;
  gap: 8px;
  top: 656px;
  width: 271px;
  height: 40px;
  list-style-type: none;
}

#icon1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0;
  gap: 8px;
  top: 656px;
  width: 140px;
  height: 140px;
  margin-top: 20px;
  margin-left: 100px;
  list-style-type: none;
}

.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 64px 24px;
  gap: 58px;
  background-image: url(/images/form.png);
  background-repeat: no-repeat;
  background-position-y: bottom;
  background-position-x: right;
  height: 879px;
  left: 0;
  top: 5483px;
}

.form-text {
  width: 327px;
  height: 363px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  text-align: center;
  color: #172b4d;

  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
  gap: 24px;
  margin-top: 128px;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
  gap: 24px;
  min-width: 327px;
  height: 330px;
 
  justify-content: center;
  margin-top: 90px;
}

.text-form {
  min-width: 327px;
  height: 48px;

  left: 16px;
  right: 16px;
  top: calc(50% - 18px / 2);
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  display: flex;
  align-items: center;
  color: #6b778c;
  box-sizing: border-box;
  bottom: 0;
  background: #fff;
  border: 1px solid #d0d9d4;
  border-radius: 4px;
}

.new-text {
  min-width: 327px;
  height: 48px;

  left: 16px;
  right: 16px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  display: flex;
  align-items: center;
  color: #6b778c;
  box-sizing: border-box;
  bottom: 0;
  background: #fff;
  border: 1px solid #d0d9d4;
  border-radius: 4px;
}

.email {
  width: 327px;
  height: 48px;
  
  left: 16px;
  right: 16px;
  top: calc(50% - 18px / 2);
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  display: flex;
  align-items: center;
  color: #6b778c;
  box-sizing: border-box;
  bottom: 0;
  background: #fff;
  border: 1px solid #d0d9d4;
  border-radius: 4px;
}

.textarea {
  width: 327px;
  height: 114px;
  box-sizing: border-box;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: #fff;
  border: 1px solid #60c095;
  border-radius: 4px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #091e42;
}

.form-container-button {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 12px;
  gap: 10px;
  margin-left: 90px;
  width: 135px;
  height: 48px;
  background: #36b37f;
  border-radius: 4px;
  flex: none;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #fff;
 
}

.footer-text {
  width: 375px;
  height: 189px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
  text-align: center;
  color: #42526e;
  margin-top: -10px;
  border-radius: nullpx;
}

.lable{
  color: red;
  font-style: normal;
  font-weight: 200;
  font-size: 26px;
  font-family: "Inter", sans-serif;
  border-style: groove;
}

.form-social {
  width: 170.17px;
  height: 20px;
  justify-content: space-between;
  display: inline;

  margin-left: 70px;
}

.nav-links ul li a:hover {
  color: #36b37f;
}

#close {
  display: none;
}

@media screen and (min-width: 768px) {

  .main-container {

    width: 100%;
  }
.tags{
  margin-left: 190%;
}
  .nav-links ul {
    display: inline;
    justify-content: center;
    align-items: baseline;
    margin-left: 5%;
  }

  #menu {
    display: none;
  }

  #close {
    display: none;
  }

  .welcome {
    display: none;
  }

  h1 {
    flex-direction: row;
    width: 1360px;
    height: 114px;
    font-weight: 800;
    font-size: 48px;
    line-height: 60px;
    text-align: center;
    letter-spacing: 0.37px;
  }

  .text {
    flex-direction: row;
    width: 920px;
    height: 96px;
    font-size: 20px;
    font-weight: 400;
    line-height: 35px;
    line-height: 32px;
    text-align: center;
  }

  .S-text {
    flex-direction: row;
    width: 920px;
    height: 96px;
    font-size: 20px;
    font-weight: 400;
    line-height: 35px;
    line-height: 32px;
    text-align: center;
  }

  .socialmedia-icons {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0;
    margin-top: 50px;
    width: 200px;
    height: 40px;
  }

  #action {
    display: none;
  }

  #indicator {
    display: none;
  }

  .recent-works {
    margin-top: 180px;
  }

  .card-work-row {
    display: grid;
   grid-template-columns: auto auto auto;
   
    padding: 30px 0px;
    column-gap: 30px;
   width: 100%;
   
  }

  .about-me {
    flex-direction: column;
  
    display: flex;
  }

  .about-card {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
   
  }

  .card-works {
    width: 369px;
  }

  .form-container {
    display: flex;
    flex-direction: row;
    width: 1171px;
    height: 490px;
    left: 135px;
    top: 3139px;
    padding: 80px 0;
    margin-top: -150px;
    margin-left: -30px;
    background-image:
      url(/images/Frame@2x.png),
      url(/images/illustration-2-contact-form-desktop@2x.png),
      url(/images/Frame@3x.jpg);
    background-repeat: no-repeat;
    background-position-x: left, left, right;
    background-position-y: center, bottom, bottom;
    background-size: 10%, 10%, 10%;
  }

  .form-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0%;
    min-width: 463px;
    height: 256px;
    padding-left: 5%;
    gap: 24px;
    width: 463px;
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 52px;
    color: #172b4d;
  }

  /* POPUP CSS */
  * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
   }
   
   li {
     list-style: none;
   }
   
   a {
     text-decoration: none;
     color: #344563;
   }
     
   .popup-background {
    display: flex;
     background-color: #fff;
    flex-direction: column;
     border-radius: 8px;
     box-shadow: 0 48px 48px;
     width: 90%;
     padding: 0 24px;
   
   }

   .popwindow {
    position: fixed;
    display: flex;
    flex-direction: column;
    top: 2%;
    bottom: 3%;
    left: 2%;
    right: 2%;
    margin-right: 5%;
   }
       .container-popup {
         display: flex;
         flex-direction: column;
         width: 100%;
       }
     
       .close-button-container {
         
         display: flex;
         justify-content: flex-end;
         width: 100%;
         margin: 24px;
       }
     
       .popup-close-button {
         cursor: pointer;
         margin-top: 5px;
         margin-right: 5px;
       }
     
       .popup-image-mbl {
         display: none;
       }
     
       #title-btn {
         display: flex;
         flex-direction: row;
         align-items: center;
         text-align: center;
         width: 100%;
       }
     
       .popup-button-desktop {
         display: flex;
         flex-direction: row;
         align-items: center;
         width: 40%;
         justify-content: end;
         gap: 1.5rem;
       
       }
     
       .popup-button-mobile {
         display: none;
         background: #36b37e;
       }
     
       .popup-image-dsk {
       width: 90%;
       height: 20%;
       }
     
         .tags{
           width: 100%;
           margin: 20px 0;
         }
   
       .tags-mobile {
         display: flex;
         width: 60%;
         justify-content: space-between;
         background-color: #fff;
       }
         .tags-mobile li {
           background: #EBECF0;
           border-radius: 8px;
           padding: 10px;
         
         }
      
   
   
     
       #title-div {
        width: 60%;
        justify-content: flex-start;
        display: flex;
         text-align: start;
       }
     
       .popup-title {
         width: 589px;
         height: 82px;
         font-family: "Inter", sans-serif !important;
         font-style: normal;
         font-weight: 700;
         font-size: 32px;
         line-height: 44px;
         color: #172b4d;
       }
   
     
       .popup-description {
        
         font-family: "Inter", sans-serif !important;
         font-style: normal;
         font-weight: 400;
         font-size: 16px;
         line-height: 30px;
         color: #344563;
         margin-bottom: 44px;
       }
     
       .popup button {
         display: flex;
         flex-direction: row;
         align-items: center;
         justify-content: center;
         padding: 12px;
         gap: 10px;
         border: 0;
         width: 115px;
         height: 48px;
         color: #fff;
         background: #36b37e;
         border-radius: 8px;
         margin: 12px 12px 12px 0;
       }
     
      
     .a1{
       background-color: #36b37e;
       color: #fff;
       padding: 12px 14px;
       border-radius: 8px;
       border: none;
       display: flex;
       align-items: center;
       text-align: center;
       gap: 5px;
     }
     
  /* POPUP CSS */

  .form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0%;
    width: 684px;
    height: 330px;
    margin-top: 380px;
    margin-left: -40px;
  }

  .form-social {
    margin-left: -15px;
    margin-top: 30px;
  }

  .headline {
    background-image: url(images/pictureproject.png);
    background-repeat: no-repeat;
    background-size: cover;
  }

  .footer-text {
    display: none;
  }

  .new-text {
    display: none;
  }

  .text-form {
    display: flex;
    flex-direction: row;
    margin-top: -50px;
  }

  .last-name {
    min-width: 360px;
    height: 48px;
   
    left: 16px;
    right: 16px;
    top: calc(50% - 18px / 2);
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    display: flex;
    align-items: center;
    color: #6b778c;
    box-sizing: border-box;
    bottom: 0;
    background: #fff;
    border: 1px solid #d0d9d4;
    border-radius: 4px;
    margin-top: -50px;
  }

  .email {
    height: 48px;
    left: 0;
    right: 0;
    top: calc(50% - 48px / 2);
    width: 684px;
  
  }

  .textarea {
    box-sizing: border-box;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: #fff;
    border: 1px solid #60c095;
    border-radius: 4px;
    width: 684px;
    height: 114px;
    flex: none;
    order: 2;
    flex-grow: 0;
  }

  .form-container-button {
    margin-left: -3px;
  }
}

@media screen and (max-width: 768px) {
  #menu {
    display: block;
    color: #0a2759;
    cursor: pointer;
  }

  #close {
    display: block;
    color: #36b37e;
    text-align: right;
  }

  .about {
    display: block;
    margin-left: -100px;
  }

  .last-name {
    display: none;
  }

  .about-card {
    width: 327px;
    height: 1106px;
  }

  .form-table {
    display: none;
  }

  .text-form {
    display: flex;
  }

  .nav-links {
    display: block;
    text-align: left;
    position: fixed;
    width: 98vw;
    height: 184vh;
    right: -490px;
    transition: 1s;
    cursor: pointer;
    top: 0;
    align-items: center;
    z-index: 1;
    background: #fff;
    mix-blend-mode: normal;
    box-shadow: 0 48px 48px rgba(37, 47, 137, 0.08);
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 44px;
    color: #3a4a42;
  }

  .nav-links ul li {
    display: block;
    margin: 30px;
  }

  .nav-links ul li a {
    color: black;
    font-size: 40px;
  }
}


.popup-container{
 
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 86px;
  }
  
  .snapshot {
 
  width: 872px;
  /* height: 616px; */
  left: 24px;
  top: 78px;
  border: 1px solid #DFE1E6;
  border-radius: 8px;
  background-image: url(/images/Snapshoot\ Portfolio.png);
  background-repeat: no-repeat;
  }
  
  .popup-title{
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  gap: 12px;
  
 
  min-width: 869px;
  min-height: 82px;
  left: 26px;
  top: 718px;
  
  }
  
  h2 {
  width: 589px;
  height: 82px;
  
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px; 
  color: #172B4D;

  }
  
  .btn-pop {
      display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  gap: 12px;
  justify-content: space-between;
  }
  
  .btn-pop li {
      list-style: none;
  background: #36B37E;  
  }
  .btn-pop li a{
      list-style: none;
      text-decoration: none;
      color: #FFFFFF;
      border-radius: 8px;
      
  }
  .pop-tag{
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  gap: 12px;

  width: 500px;
  height: 32px;
  left: 24px;
  top: 820px;
  }
  .pop-tag li {
      display: flex;
  flex-direction: row;
  align-items: center;
  padding: 8px 12px;
  
  width: 72px;
  height: 25px;
  background: #EBECF0;
  border-radius: 8px;  
  
  }
  .pop-tag li a{
  width: 60px;
  height: 16px;
  
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;  
  letter-spacing: 0.03em;
  color: #344563;
  text-decoration: none;
  }
  
  .popup-text {
      display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px;
  gap: 12px;
 
  width: 876px;
  height: 151px;
  left: 24px;
  top: 888px;
  font-family: 'Inter',sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  color: #344563;
  }
  
  @media screen and (max-width: 768px){
      .snapshot{
  width: 311px;
  height: 220px;
  
  background: url(/images/Snapshoot\ Portfolio\ \(4\).png);
  background-repeat: no-repeat;
  border-radius: 8px;
      }
     h2{
      display: flex;
      flex-direction: row;
      align-items: center;
      padding: 0px;
      gap: 12px;
      width: 259px;
      height: 130px;
     
      }
  .popup-title{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 12px;
  width: 259px;
  height: 179px;
  
  }
  .popup-text{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px;
  gap: 12px;
  width: 311px;
  height: 313px;  
  
  }
  .pop-tag {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 8px;
  width: 246px;
  height: 32px;  

  }
  .pop-tag .mobile-tag{
      display: none;
  }
  .popup-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 16px;
  gap: 12px;
  
  width: 343px;
  height: 836px;
  left: calc(50% - 343px/2);
  top: 20px; 
  background: #FFFFFF;
  border: 1px solid #DFE1E6;
  border-radius: 16px;
  }
  .btn-pop{
      flex: none;

  }
  }  

  